{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
  </div>

  <div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
      {% for property in properties %}
        <div class="col-md-4">
          {% include 'property/_property.html.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
