{% extends 'admin/baseAdmin.html.twig' %}

{% block title 'Edit Option' | trans %}

{% block body %}
  <div class="container mt-4">
    <h1>{{ 'Edit Option' | trans }}</h1>

    {{ include('admin/option/_form.html.twig', {'button_label': 'Update' | trans }) }}

    {{ include('admin/option/_delete_form.html.twig') }}
  </div>
{% endblock %}
