{% extends 'admin/baseAdmin.html.twig' %}

{% block title 'New Option' | trans %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'Create new option' | trans }}</h1>

      {{ include('admin/option/_form.html.twig', {'button_label': 'Save' | trans}) }}
    </div>
{% endblock %}
